*.env
.imposer-env
imposer/.cache/
vendor/*
!vendor/.gitkeep

public/ext/mu-plugins/*/
public/ext/plugins/*
public/ext/upgrade
public/ext/uploads/*

!public/ext/plugins/.gitkeep
!public/ext/uploads/.gitkeep
!public/ext/uploads/public

public/wp
public/.htaccess

.composer/vendor/*
.composer/cache/*
.composer/config.json
.composer/.htaccess
